@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 219, 234, 254; /* #dbeafe */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 0, 0, 0;
  }
}

* {
  cursor: none;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-rgb));
  /* overflow: hidden; */
}

/* clears the 'X' from Internet Explorer */
input[type=search]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=search]::-ms-reveal {  display: none; width : 0; height: 0; }

/* clears the 'X' from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }


#searchbar ul li:not(:last-child) {
  border-bottom: 1px solid rgb(209, 213, 219); /* border-gray-300 */
}